{% extends 'base.html.twig' %}

{% block title %}Registration
{% endblock %}

{% block body %}
	<h1 class="text-2xl font-bold mb-4">Registration</h1>

	<table class="table-auto w-full border-collapse">
		<tbody>
			<tr class="border-b">
				<th class="px-4 py-2 text-left font-medium">Id</th>
				<td class="px-4 py-2">{{ registration.id }}</td>
			</tr>
			<tr class="border-b">
				<th class="px-4 py-2 text-left font-medium">RegistrationDate</th>
				<td class="px-4 py-2">{{ registration.registrationDate ? registration.registrationDate|date('Y-m-d H:i:s') : '' }}</td>
			</tr>
			<tr class="border-b">
				<th class="px-4 py-2 text-left font-medium">Status</th>
				<td class="px-4 py-2">{{ registration.status }}</td>
			</tr>
		</tbody>
	</table>

	<div class="mt-4 flex justify-around">
		<a href="{{ path('app_register_index') }}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Back to list</a>
		<a href="{{ path('app_register_edit', {'id': registration.id}) }}" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">Edit</a>
		{{ include('register/_delete_form.html.twig') }}
	</div>
{% endblock %}
