<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Tournois-Hub
			{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>"> {% block stylesheets %}{% endblock %}
		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}
	</head>
	<body>
		<header class="py-4 px-6 flex justify-between items-center z-10">
			<a href="{{ path('app_home') }}" class="text-indigo-600 hover:text-indigo-500">
				<h1 class="text-2xl font-bold text-indigo-600">Tournois-Hub</h1>
			</a>
			<nav>
				{% if app.user %}
					{% set roles = app.user.roles %}
					{% if 'ROLE_ADMIN' in roles %}
						<a href="{{ path('app_user_index') }}" class="mr-4 hover:text-indigo-500">Utilisateurs</a>
						<a href="{{ path('app_tournament_index') }}" class="mr-4 hover:text-indigo-500">Tournois</a>
						<a href="{{ path('app_game_index') }}" class="mr-4 hover:text-indigo-500">Parties</a>
						<a href="{{ path('app_register_index') }}" class="mr-4 hover:text-indigo-500">Inscriptions</a>
					{% elseif 'ROLE_USER' in roles %}
						<a href="{{ path('app_tournament_index') }}" class="mr-4 hover:text-indigo-500">Tournois</a>
						<a href="{{ path('app_game_index') }}" class="mr-4 hover:text-indigo-500">Parties</a>
					{% else %}
						<p>Vous avez un autre rôle</p>
					{% endif %}
				{% else %}
					<p>Non connecté</p>
				{% endif %}
			</nav>
		</header>
		{% block body %}{% endblock %}
	</body>
</html>
