<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Master Tournois{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 128 128'><text y='1.2em' font-size='96'>⚫️</text><text y='1.3em' x='0.2em' font-size='76' fill='%23fff'>sf</text></svg>">
		{% block stylesheets %}{% endblock %}
		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}
	</=head>
	<body class="bg-gray-50 text-gray-800">
		<header class="py-5 px-8 flex justify-between items-center bg-white shadow-md">
			<a href="{{ path('app_home') }}" class="text-blue-600 hover:text-blue-500 transition duration-300 ease-in-out">
				<h1 class="text-3xl font-semibold">Master Tournois</h1>
			</a>
			<nav>
				{% if app.user %}
					{% set roles = app.user.roles %}
					{% if 'ROLE_ADMIN' in roles %}
						<a href="{{ path('app_user_index') }}" class="text-sm font-medium hover:text-blue-500 transition duration-300 ease-in-out px-3 py-2">Utilisateurs</a>
						<a href="{{ path('app_tournament_index') }}" class="text-sm font-medium hover:text-blue-500 transition duration-300 ease-in-out px-3 py-2">Tournois</a>
						<a href="{{ path('app_game_index') }}" class="text-sm font-medium hover:text-blue-500 transition duration-300 ease-in-out px-3 py-2">Parties</a>
						<a href="{{ path('app_register_index') }}" class="text-sm font-medium hover:text-blue-500 transition duration-300 ease-in-out px-3 py-2">Inscriptions</a>
					{% elseif 'ROLE_USER' in roles %}
						<a href="{{ path('app_tournament_index') }}" class="text-sm font-medium hover:text-blue-500 transition duration-300 ease-in-out px-3 py-2">Tournois</a>
						<a href="{{ path('app_game_index') }}" class="text-sm font-medium hover:text-blue-500 transition duration-300 ease-in-out px-3 py-2">Parties</a>
					{% else %}
						<p class="text-sm">Vous avez un autre rôle</p>
					{% endif %}
				{% else %}
					<p class="text-sm">Non connecté</p>
				{% endif %}
			</nav>
		</header>
		{% block body %}{% endblock %}
	</body>
</html>
